# Ignorar entornos virtuales
venv/
env/
.venv/

# Ignorar cachés de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar archivos de Git
.git/
.gitignore

# Ignorar cualquier otra cosa pesada que no sea código o tu dataset de 967_buildingsJ
967_buildings/